{{ define "main" }}

<header>
    <h1>{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>
{{ .Content }}
{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}

<ul>
    <li>分类
{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
  <ul>
    <a href="{{ "categories/" | relLangURL }}{{ $name | urlize }}">
      {{ $name }} ({{ len $taxonomy }})
    </a>
</ul>
   </li>
{{ end }}
</ul>
{{ end }}